{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elearning</title>
    <link rel="stylesheet" href="{% static './css/signin_signup/style.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="header">
            <h2>Sign Up</h2>
        </div>
        <form method="POST" action="{% url 'account:sign_up' %}" id="form" class="form">
            {% csrf_token %}
            
            <div class="form-control">
                <label for="username">Username</label>
                {{form.username}}
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <label for="username">First Name</label>
                {{form.first_name}}
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <label for="username">Last Name</label>
                {{form.last_name}}
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>


            <div class="form-control">
                <label for="username">Phone Number</label>
                {{form.phone}}
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>



            <div class="form-control">
                <label for="username">Email</label>
                {{form.email}}
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <label for="username">Type</label>
               
                <select name="type" style="padding:10px;width:100%;border-color: #7971ea;" id="cars">
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Parent">Parent</option>
                    
                    
                </select>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <label for="username">Password</label>
                {{form.password}}
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
           
            <button>Submit</button>
            <a  href="{% url 'account:sign_in' %}">Sign In</a>
        </form>
    </div>
    
    
    
    
</body>
</html>