{% load static %}

 <!--Breadcrumb start-->
        <div class="ed_pagetitle">
            <div class="ed_img_overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <div class="page_title">
                            <h2>Course Lesson</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-6">
                        <ul class="breadcrumb">
                            <li><a href="/">home</a></li>
                            <li><i class="fa fa-angle-double-left" aria-hidden="true"></i></li>
                            <li><a href="{% url 'homepage:homepage' %}">all courses</a></li>
                          
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb end-->