{% load static %}

<head>
    <meta charset="utf-8" />
    <title>KidsCamp Multipurpose Responsive HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="KidsCamp" />
    <meta name="keywords" content="KidsCamp, html template, Education template, children, capm, School, Events" />
    <meta name="author" content="Kamleshyadav" />
    <meta name="MobileOptimized" content="320" />
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/kidscamp-style.css' %}" rel="stylesheet" type="text/css" />
  
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/header/favicon.png' %}" />
</head>
