{% load static %}

 <!--Header start-->
        <header id="ed_header_wrapper">
            <div class="ed_header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="ed_contact_details">
                                <ul>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> +1800 326 3264</li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> support@website.com</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="ed_social_icons">
                                <ul>
                                    <li><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ed_header_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <div class="educo_logo">
                                <a href="index.html"><img src="{% static 'assets/images/kidscamp/header/Logo.png' %}" alt="logo" /></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6 col-6">
                            <div class="main-menu-container">
                                <div class="main-menu">
                                    <ul>
                                        <li><a href="{% url 'homepage:homepage'%}">Home</a></li>
                                        <li><a href="{% url 'homepage:about'%}">about us</a></li>
                                       
                                        <li class="has-sub-menu">
                                            <a href="{% url 'homepage:courses' %}">courses</a>
                                            
                                        </li>
                                     
                                        {% if request.user.is_authenticated %}
                                        {% if request.user.type == "Teacher" %}
                                         <li><a href="{% url 'homepage:upload_class' %}">Upload Course</a></li>
                                        
                                        {% endif %}
                                        {% endif %}
                                       

                                    
                                        {% if request.user.is_authenticated %}
                                        {% if request.user.type == "Parent" %}
                                         <li><a href="{% url 'homepage:student_enrolled_parent' %}">Child Profile</a></li>
                                        
                                        {% endif %}
                                        {% endif %}
                                    {% if request.user.is_authenticated %}

                                    <li><a href="{% url 'account:logout' %}">Logout</a></li>

                                    {% else %}
                    
                                    <li><a href="{% url 'account:sign_in' %}">Sign In</a></li>

                                    {% endif %}
                                    </ul>
                                </div>

                                 

                                 </div>

                                 <div class="col-lg-8 col-md-6 col-sm-6 col-6">

                                <div class="menu-btn-wrap">
                                    <a href="javascript:void(0);" class="menu-btn">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--header end -->