{% load static %}

<script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'assets/js/modernizr.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.js' %}"></script>
    <script src="{% static 'assets/js/smooth-scroll.js' %}"></script>
    <script src="{% static 'assets/js/plugins/revel/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/revel/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/revel/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/revel/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/revel/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/countto/jquery.countTo.js' %}"></script>
    <script src="{% static 'assets/js/plugins/countto/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/kidscamp-custom.js' %}"></script>