
$background_color:#191513;
$white_color : #fff;
$color_text : #999;
$border_color : #eea16d;
$anchor_color : #7971ea;
$anchor_hover_color : #130c74;
$back_g : #7971ea;
$green_color:#2ecc71;
$error_color : #e74c3c;

$box-shadow:rgba(0,0,0,.9);
$box-shadow-intensity:rgba(0,0,0,.6);
