{% load static %}

<!--counter section start -->
        <div class="ed_graysection ed_toppadder90 ed_bottompadder90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="ed_heading_top ed_bottompadder50">
                            <h3>Why Choose Us</h3>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="ed_counter_wrapper row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="ed_counter">
                                    <h2 class="timer" data-from="0" data-to="2600" data-speed="3000"></h2>
                                    <h4>Students successive</h4>
                                    <p>Throughout these year we have done amazing work with 250 students..</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="ed_counter">
                                    <h2 class="timer" data-from="0" data-to="5900" data-speed="3000"></h2>
                                    <h4>Competitions won</h4>
                                    <p>Only competitions were the ones in the back of the magazines you find..</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="ed_counter">
                                    <h2 class="timer" data-from="0" data-to="8400" data-speed="3000"></h2>
                                    <h4>Classes visited</h4>
                                    <p>Can how you setup your classroom impact how students think...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--counter section end -->